.article-cc {
    padding-top: 10px;
    padding-bottom: 50px;
    
    @include media-breakpoint-down(lg) {
        text-align: justify;
    }
    
    @include media-breakpoint-up(xl) {
        padding-top: 125px;
    }

    @include media-breakpoint-up(xxl) {
        padding-top: 136px;
        padding-bottom: 80px;
    }

    h5,p {
        @include font-size(16px);
        line-height: 20px;
        
        @include media-breakpoint-up(xxl) {
            @include font-size(18px);
            line-height: 23px;
        }
    }

    h5 {
        margin-bottom: 10px;
    }
    
    h1 {
        @include font-size(32px);
        line-height: 42px;
        
        @include media-breakpoint-up(xl) {
            @include font-size(36px);
            line-height: 48px;
        }

        @include media-breakpoint-up(xxl) {
            line-height: 55px;
        }
    }
    
    p {
        line-height: 28px;
        margin-bottom: 10px;
        
        @include media-breakpoint-up(xxl) {
            max-width: 450px;
            margin-bottom: 20px;
            line-height: 32px;
        }
    }

    .author-text {
        font-weight: 200;
        font-size: small;
    }

    .date-posted {
        font-weight: 200;
        font-size: small;
    }

    .box-article:hover {
        border: 0.4px solid $primary;
    }

    h1:hover {
        color: $dark;
    }
}