.divisi-cc {
    padding-top: 50px;
    padding-bottom: 30px;

    @include media-breakpoint-up(xl) {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    
    @include media-breakpoint-up(xxl) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .card-shadow-cc {
        @include media-breakpoint-down(lg) {
            text-align: center;
        }

        .divisi-illustration {
            width: 80px;
            height: 80px;
            margin-bottom: 18px;
            
            @include media-breakpoint-up(lg) {
                width: 90px;
                height: 90px;
            }
        }
    }
}