.footer-cc {
    .sosmed {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-color: #8D97A4;
        border-radius: 50%;
        text-align: center;
        color: white;
        transition: background-color .3s;
        
        &:hover {
            background-color: $dark;
        }

        span {
            line-height: 32px;
        }
    }
}